---
import dayjs from 'dayjs'
import 'dayjs/locale/th'
import Layout from '../layouts/Layout.astro'
import SectionHeader from '../components/SectionHeader.astro'
import SectionMainContent from '../components/SectionMainContent.astro'
import SectionWorkExperience from '../components/SectionWorkExperience.astro'
import SectionFooter from '../components/SectionFooter.astro'

import { getLangFromUrl } from '../i18n/utils'

interface Props {
  resume: any
  experience?: any
}

// Import data
import expData from '../i18n/experience.json'
import resumeData from '../i18n/resume.en.json'

// Setup locale and data
const langName = getLangFromUrl(Astro.url)
const { experience = expData, resume = resumeData } = Astro.props

dayjs.locale(langName)
---

<Layout title={`${resume.fullname} | ${resume.job}`} desc="Hey there, I\'m Kananek Thongkam and work as Software Engineer.">
  <div class="resume">
    <SectionHeader resume={resume} experience={experience} />
    <SectionMainContent resume={resume} experience={experience} />
    <p class="pagebreak"></p>
    <SectionWorkExperience workExperience={resume.work} />
    <SectionFooter />
  </div>
</Layout>
