---
import coding from '../i18n/coding.json'
import { getTranslate } from '../i18n/utils'
const t = getTranslate(Astro.url)

const maxDayTime = Math.max(...coding.daytime)
const maxWeekTime = Math.max(...coding.weektime)

const weekDay = [
  t('daytime.mon'),
  t('daytime.tue'),
  t('daytime.wed'),
  t('daytime.thu'),
  t('daytime.fri'),
  t('daytime.sat'),
  t('daytime.sun'),
]
const weekSize = [0, 1, 2, 3, 4, 5]

const chartDay = [
  { name: t('daytime.morning'), startOfIndex: 6 },
  { name: t('daytime.daytime'), startOfIndex: 12 },
  { name: t('daytime.evening'), startOfIndex: 18 },
  { name: t('daytime.night'), startOfIndex: 0 },
]

const maxGroupDay = chartDay.find((e) => maxDayTime === Math.max(...weekSize.map((i) => coding.daytime[i + e.startOfIndex]))).name

const getDayHightlight = (e: any) => (maxGroupDay === e.name ? 'highlight' : '')
const dayOfWeek = (v: any) => weekDay[coding.weektime.findIndex((e) => e === v)]
const getWeekHightlight = (v: number) => (maxWeekTime === v ? 'highlight' : '')
const colDaySize = (n: number = 0) => ({ '--size': `calc( ${(coding.daytime[n] * 100) / maxDayTime} / 100 )` })
const colWeekSize = (n: number = 0) => ({ '--size': `calc( ${(n * 100) / maxWeekTime} / 100 )` })
---

<section class="section-wrapper section-coding-daytime d-print-none">
  <div class="row">
    <div class="col-lg-9 col-md-11">
      <div class="section-title">
        <h2>{t('daytime')}</h2>
        <small>wakatime.com</small>
      </div>
    </div>
    <div class="col-lg-27 col-md-25 col-sm-36">
      <div class="row">
        <div class="col-sm-36 col-lg-18">
          <table id="charts-daytime" class="charts-css column show-heading data-spacing-2 datasets-spacing-3 hide-data show-labels">
            <caption>{t('daytime.caption')}</caption>
            <thead>
              <tr>
                {chartDay.map((e: any) => <th>{e.name}</th>)}
              </tr>
            </thead>
            <tbody>
              {
                chartDay.map((e: any) => (
                  <tr>
                    <th scope="row" class={getDayHightlight(e)}>
                      {e.name}
                    </th>
                    {weekSize.map((i) => (
                      <td class={getDayHightlight(e)} style={colDaySize(i + e.startOfIndex)} />
                    ))}
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>

        <div class="col-sm-36 col-lg-18">
          <table id="charts-weektime" class="charts-css column data-spacing-5 datasets-spacing-3 hide-data show-labels">
            <tbody>
              {
                coding.weektime.map((e) => (
                  <tr>
                    <th scope="row" class={getWeekHightlight(e)}>
                      {dayOfWeek(e)}
                    </th>
                    <td style={colWeekSize(e)} class={getWeekHightlight(e)} />
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  html {
    --charts-color: #cbcbcb;
    --charts-highlight: #37d67a;
  }

  html.dark-mode {
    --charts-color: #444758;
    --charts-highlight: #ffdc5a;
  }

  #charts-daytime,
  #charts-weektime {
    max-width: 95%;
    margin: 0 auto;
  }
  #charts-daytime {
    margin-top: 1.5em;
    height: 165px;
  }
  #charts-weektime {
    margin-top: 1.5em;
    height: 165px;
  }

  table.charts-css {
    > caption {
      color: var(--text-muted);
      font-size: 0.75rem;
      position: absolute;
      margin-top: -1.9em;
    }
    > tbody {
      th {
        text-transform: capitalize;
        font-size: 0.75rem;
        &.highlight {
          color: var(--charts-highlight);
        }
      }
      td.highlight {
        background-color: var(--charts-highlight);
      }
      td.day {
        --color: var(--charts-color);
      }
      td {
        --color: var(--charts-color);
      }
      tr {
        > th[scope='row'] {
          margin-bottom: -2.3em;
          line-height: 2.2em;
          border-top: 0.15em solid var(--text-muted);

          //     &.highlight {
          //       border-top: 2px solid var(--charts-highlight);
          //       color: var(--charts-highlight);
          //     }
          //   }
          //   > td {
          //     &.highlight {
          //       --color: #767676;
          //       color: var(--charts-highlight);
          //     }
        }
      }
    }
  }
</style>
