---
import dayjs from 'dayjs'
import { getTranslate } from '../i18n/utils'
const t = getTranslate(Astro.url)

interface Props {
  experience: any
}

const { experience } = Astro.props
---

<section class="section-wrapper section-repos d-print-none">
  <div class="row">
    <div class="col-lg-9 col-md-11">
      <div class="section-title">
        <h2>{t('project')}</h2>
      </div>
    </div>
    <div class="col-lg-27 col-md-25 col-sm-36 d-flex flex-wrap">
      {
        experience.repos.map((e: any) => (
          <div class="repos">
            <h3 class="m-0">
              <span class="badge">{dayjs(e.created_at).year()}</span>
              <a href={e.svn_url} target="_blank">
                <span class="name">{e.name}</span>
              </a>
              {e.stargazers_count ? <span class="badge rounded-pill">Stared {e.stargazers_count}</span> : <span />}
            </h3>
            <span>{e.description}</span>
          </div>
        ))
      }
    </div>
  </div>
</section>
<style scoped>
  .repos {
    flex: 50%;
  }

  .repos h3 span.name {
    text-transform: uppercase;
  }

  .repos h3 span.badge {
    color: var(--text-primary);
    font-size: 0.65rem;
    padding: 0.2em 0.5em 0 0.5em;
    border-radius: 0.25em !important;
  }

  .repos h3 span.badge.rounded-pill {
    color: var(--text-badge);
    background-color: var(--bg-badge);
  }

  .repos span {
    display: inline-block;
    line-height: 0.95rem;
    padding-right: 4px;
    font-size: 0.8rem;
  }
</style>
