---
import SectionWork from './SectionWork.astro'
import { isNewJob, getWorkPeriod } from '../utils/dateUtils'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

interface Props {
  workExperience: any[]
}

const { workExperience } = Astro.props
const langName = getLangFromUrl(Astro.url)
const t = useTranslations(langName)
---

{
  workExperience.map((e) =>
    !e.pagebreak ? (
      <section class="section-wrpper section-work pt-3 pb-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-11">
              <div class="section-title">
                <h2>{t('experience')}</h2>
                {isNewJob(e.range.begin) ? (
                  <span class="badge text-bg-success" style="margin-top: 1em;">
                    {t('experience.newjob')}
                  </span>
                ) : (
                  <span />
                )}
              </div>
            </div>
            <div class="col-lg-27 col-md-25 col-sm-36 content-job">
              <small style="margin-top: -2px;display: block;">{getWorkPeriod(e.range, langName, t)}</small>
              {!e.jobs && <h3>{e.job}</h3>}
              <h4>{e.work}</h4>
              {!e.jobs && <SectionWork filename={e.file} />}
              <div class="content-subjob">
                {e.jobs &&
                  e.jobs.map((j) => (
                    <div>
                      <h3>{j.job}</h3>
                      <small>{getWorkPeriod(j.range, langName, t)}</small>
                      <SectionWork filename={j.file} />
                    </div>
                  ))}
              </div>
            </div>
          </div>
        </div>
      </section>
    ) : (
      <p class="pagebreak" />
    ),
  )
}

<style lang="scss">
  .content-job {
    margin-bottom: 20px;

    h3 {
      margin: 0 0 10px;
      line-height: 1;
      font-weight: bold;
      text-transform: uppercase;
    }

    h4 {
      margin: 0;
      line-height: 1;
    }

    small {
      color: var(--text-secondary);
    }

    p {
      margin-top: 15px;
      margin-bottom: 0px;
    }

    ul {
      margin: 0 0 0 5px;
      li::before {
        content: '•';
        margin-right: 5px;
      }
    }

    .content-subjob {
      padding: 15px 0px 0px 0px;
      > div {
        padding: 10px 0px;
        h3 {
          margin: 0px;
        }
      }
    }
  }
</style>
