---
// import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url"
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer"
import dayjs from 'dayjs'
import relativeTime from 'dayjs/plugin/relativeTime'
dayjs.extend(relativeTime)

import { getLangFromUrl } from '../i18n/utils'

interface Props {
	title: string
  desc: string
}

const { title, desc } = Astro.props
const website = 'https://dvgamerr.app'
const date = new Date().toISOString()

const lang = getLangFromUrl(Astro.url)
---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={desc}>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
		<link rel="icon" type="image/svg+xml" href="/icon-64.webp" />
		<meta name="generator" content={Astro.generator} />
    <meta name="application-name" content={title} />
    <meta name="keywords" content="kananek,t.,kananek-thongkam,thongkam,tk,resume,kem,kanane,kt" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={desc} />
    <meta property="og:url" content={website} />
    <meta property="og:site_name" content={title} />
    <meta property="og:updated_time" content={date} />
    <meta property="og:image" content="/fb-social.jpg" />
    <meta property="article:publisher" content="https://twitter.com/dvgamerr" />
    <meta property="article:author" content="https://twitter.com/dvgamerr" />
    <meta property="article:section" content="RESUME" />
    <meta property="article:published_time" content={date} />
    <meta property="article:modified_time" content={date} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:description" content={desc} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:site" content="@dvgamerr" />
    <meta property="twitter:image" content="/fb-social.jpg" />
    <meta property="twitter:creator" content="@dvgamerr" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;700&family=Hind:wght@400;700&display=swap" />
		<title>{title}</title>
    <script async src="https://rum.cronitor.io/script.js"></script>
	</head>
	<body>
    <div id="__layout">
      <slot />
    </div>
    <script>
      // @ts-ignore: any
      window.cronitor = window.cronitor || function() { (window.cronitor.q = window.cronitor.q || []).push(arguments); };
      // @ts-ignore: any
      cronitor('config', { clientKey: 'a08df15d735c0c7518246129767fd319' });
    </script>
	</body>
</html>
<style lang="scss" is:global>
@import "../styles/global.scss";
#__layout {
  border-top: 5px solid var(--text-color-link);
  padding: 4em 0;
}

@media print {
  #__layout {
    border-top: none !important;
  }
}

@media (max-width: 768px) {
  #__layout {
    padding: 0 !important;
  }
}


</style>
