---
// import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url"
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer'
import dayjs from 'dayjs'
import relativeTime from 'dayjs/plugin/relativeTime'
dayjs.extend(relativeTime)

import { getLangFromUrl } from '../i18n/utils'

interface Props {
  title: string
  description: string
  image: string
}

const website = 'https://dvgamerr.app'
const { title: pageTitle, description: pageDescription, image: pageImage = '/fb-social.jpg' } = Astro.props
const date = new Date().toISOString()

const lang = getLangFromUrl(Astro.url)

import '../styles/global.scss'
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={pageDescription} />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="icon" type="image/svg+xml" href="/icon-64.webp" />
    <meta name="generator" content={Astro.generator} />
    <meta name="application-name" content={pageTitle} />
    <meta name="keywords" content="kananek,t.,kananek-thongkam,thongkam,tk,resume,kem,kanane,kt" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="theme-color" content="#C84B31" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:url" content={website} />
    <meta property="og:site_name" content={pageTitle} />
    <meta property="og:updated_time" content={date} />
    <meta property="og:image" content={website + pageImage} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="article:publisher" content="https://twitter.com/dvgamerr" />
    <meta property="article:author" content="https://twitter.com/dvgamerr" />
    <meta property="article:section" content="RESUME" />
    <meta property="article:published_time" content={date} />
    <meta property="article:modified_time" content={date} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={pageDescription} />
    <meta name="twitter:site" content="@dvgamerr" />
    <meta name="twitter:creator" content="@dvgamerr" />
    <meta name="twitter:image" content={website + pageImage} />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />
    {import.meta.env.PUBLIC_ADSENSE_CLIENT && <meta name="google-adsense-account" content={import.meta.env.PUBLIC_ADSENSE_CLIENT} />}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Hind:wght@300;400;500;600;700&display=swap"
    />
    <title>{pageTitle}</title>
    <script async src="https://rum.cronitor.io/script.js"></script>
    {
      import.meta.env.PROD && import.meta.env.PUBLIC_ADSENSE_CLIENT && (
        <script
          async
          src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=${import.meta.env.PUBLIC_ADSENSE_CLIENT}`}
          crossorigin="anonymous"
        />
      )
    }
  </head>
  <body>
    <div id="__layout">
      <slot />
    </div>
    <script>
      // @ts-ignore: any
      window.cronitor =
        // @ts-ignore: any
        window.cronitor ||
        function () {
          // @ts-ignore: any
          ;(window.cronitor.q = window.cronitor.q || []).push(arguments)
        }
      // @ts-ignore: any
      cronitor('config', { clientKey: 'a08df15d735c0c7518246129767fd319' })
    </script>
  </body>
</html>
<style is:global>
  .th-label {
    font-family: 'Bai Jamjuree', 'Segoe UI' !important;
  }

  #__layout {
    border-top: 5px solid var(--text-color-link);
  }

  @media print {
    #__layout {
      border-top: none !important;
    }
  }

  @media (max-width: 48rem) {
    #__layout {
      padding: 0 !important;
    }
  }
</style>
